.MainSectionContener06{
    height: 600px;
    background-color: #f3f7f7;
    font-family: Arial, Helvetica, sans-serif;
}

.MainSectionContener06{
    text-align: center;
    padding-top: 100px;
    
}
.top_heading h4{
    font-size: 15px;
    color: gray;
}
.projact{
    padding-top: 20px;
    font-size: 25px;
}
.about_the_projact{
    padding-top: 20px;
    padding-left: 20vw ;
    font-size: 15px;
    width: 970px;
    color: lightslategray;
   
}
.projact_image{
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}
.firstimage img,.secondimage img,.thirdimage img{
    border-radius: 20px;
}
